* {
  margin:0; padding:0;
}

header { 
  color:blue;
  width: 100%;
  padding: 14px 0;
  margin: 0 auto;
  text-align: center;
}

.selfintroduction {
  text-align: center;
}

header { 
  text-align: center;
  color:blue;
}