* {
  margin:0; padding:0;
  background-color: azure;
}

header { 
  color:blue;
  width: 100%;
  padding: 14px 0;
  margin: 0 auto;
  text-align: center;
}


header { 
  text-align: center;
  color:blue;
}

.selfintroduction {
  text-align: center;
}

.title{
  color:coral;
}

.gazou{
  text-align: center;
}
.gazou img{
  width:300px;
  height:500px;
}